body {
    /* background-color: green; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url(https://www.pngitem.com/pimgs/m/62-626765_casino-asia-girl-png-asian-casino-girl-png.png); */
    background-size: cover;
    background-repeat: no-repeat, repeat;
    text-align: center;

}

h1 {
    color: goldenrod;
    font-weight: bolder;
}

h2 {
    /* background: goldenrod; */
    font-weight: bold;
    color: #016f32;
    ;

}

.button {
    color: white;
    width: 150px;
    border-radius: 2px;
    background: #016f32;
    font-weight: bold;
    margin: 7px;
    padding: 7px;
}

#messageEl {
    font-style: italic;
}